@font-face {
    font-family: Avenir-Blackt;
    src: url(fonts/Avenir-Black.otf);
}
body{
    padding: 0;
    margin: 0;
    font-family: Avenir-Black;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h2,h3{
    margin: 0;
}
p {
    margin: 0;
}
button{
    border: none;
    cursor: pointer;

}
button:focus{
    outline: none;
}
ul {
    margin: 0;
}
/*header{*/
/*    position: fixed;*/
/*}*/
/*-------------------------GRID-------------------------*/
.container{
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.d-none{
    display: none;
}

.no-wrap{
    flex-wrap: nowrap;
}
.w-100{
    width:100%;
}
.w-90{
    width:90%;
}
.w-80{
    width:80%;
}
.w-70{
    width:70%;
}
.w-60{
    width:60%;
}
.w-50{
    width:50%;
}
.w-40{
    width:40%;
}
.w-30{
    width:30%;
}
.w-20{
    width:20%;
}
.w-10{
    width:10%;
}
.h-100 {
    height: 100%;
}
.flex-direction-column {
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{

   justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
 justify-content: flex-end;
}
.align-self-center{
    align-self: center;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-center {
    align-items: center;
}
.position-relative{
    position: relative;
}
.flex-1{
    flex:1;
}
.flex-2{
    flex:2;
}
.flex-3{
    flex:3;
}
.flex-4{
    flex:4;
}
.flex-5{
    flex:5;
}
.flex-6{
    flex:6;
}
.pt-5{
    padding-top: 50px;
}
.pb-4{
    padding-bottom: 40px;
}
.py-4{
    padding-top: 40px;
    padding-bottom: 40px;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.my-2{
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}
.ml-2{
    margin-left: 1.7em;
}
.m-auto{
    margin: auto;
}



/*---------------GRID END-------------*/
.main-header{
    background: #ffc600;
    order: -3;
}
.main-nav a{
    display: block;
    font-size: 1.17em;
    line-height: 31px;
}

.plate{
    padding: 2.5em 2.5em 3.33em 2.7em;
    background: #f5f5f5;
    margin: 0 0 7px 0;
}
.plate:nth-child(3) {
    margin-right: 7px;
}
.plate h2 {
    font-size: 2.67em;
}
.plate h3{
    font-size: 2em;
}
aside{
    font-size: 1.17em;
    line-height: 1.5em;
}
aside p{
    margin: 0;
}
aside.plate{
    padding: 1.75em 1.75em 1.75em 2.9em;
}
.buy-button{
    font-size: 1.17em;
    color: #fff;
    padding: 8px 8px;
    background: #000;
    margin-top: 1em;
    display: inline-block;
}
.schedule{
    margin-right: 20px;
}
.schedule-open:before{
    position: absolute;
    left: -1.5em;
    font-family: Font Awesome\ 5 Free;
    font-size:0.9em;
    content:"\f017";
}
.schedule-telephone:before{
    position: absolute;
    left: -1.5em;
    font-family: Font Awesome\ 5 Free;
    font-size:0.9em;
    content:"\f879";
}
/* ------- header menu ------------*/
.header-nav {
    background: #000;
}
.header-nav nav {
    position: absolute;
}
.header-nav nav {
    margin: auto;
    opacity: 0;
    visibility: hidden;
    background: #505050;
    box-shadow: 0 16px 32px rgba(0, 0, 0, .25);
    top: 3.7em;
    width: 100%;
}

.header-nav nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 0;
    text-align: center;
}
 .header-nav nav a:hover {
    background: #414141;
    transition: 0.2s ease;
}

.angle{
    position: absolute;
    display: block;
    height: 6px;
    width: 6px;
    right: 15px;
    top: 1.33em;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}
#check {
    display: none;
}
#check:checked ~ nav {
    opacity: 1;
    visibility: visible;

}
#check:checked ~ .angle{
    transform: rotate(-135deg);
    top:1.4em;
}
.header-nav label {
    display: block;
    padding: 0.75em 4.5em 0.75em 0.75em;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 1.17em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
/*---------------- search bar -------------*/


.search-container {
    position: relative;
    max-width: 507px;
    display: block;
    margin:0;
    overflow: hidden;
    min-width: 165px;
}
input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: 0px solid #d0cfce;
    outline: none;
    max-width: 507px;
}
.search-button{
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0px;
    background: url(images/search.png) 0 no-repeat;
    background-size: cover;
    right: 0;
    border-width: 0;
    cursor: pointer;
}

.search-button:focus{
    outline: none;
}
/* ------   toggler -------- */
#incl + label, #excl + label{
    display: block;
    background: #fff;
    font-size: 1em;
    color: #000;
    width: 27px;
    line-height: 1.7em;
    padding: 0 7px;
}
#incl:checked + label, #excl:checked + label{
    background:#000;
}
.toggle label {
    cursor: pointer;
}
.toggle{
    margin: 0 10px;
}
.log-in{
    margin-right: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    font-size: 1.17em;
    padding-left: 25px;

}
.log-in button{
    height: 100%;
    padding-right: 8px;
}
.log-in button:before{
    position: absolute;
    left: 0.9em;
    top: 1.6em;
    font-family: Font Awesome\ 5 Free;
    font-size:0.9em;
    content:"\f007";
}
.cart{
    color: #fff;
    background: #000;
    padding: 10px 0px 10px 17px;
    overflow: hidden;
}
.cart>a{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 8px;
}
.cart .angle{
    top: 1.75em;
    right: 2.3em;

}
.cart i{
    padding-right: 50px;
}
 .extra-info li{
    display: inline;
    list-style-type: none;
    margin-right: 4em;
}
.main-header .extra-info{
    margin-top: 0.8em;
    margin-left: auto;
}
/*--------- banners ------------*/
.banners>div{
    min-height: 224px;
    padding: 23px 25px;

}
.banners{
    color: #fff;
}
.banners>div:first-child{
    margin-right: 7px;
    background: url("images/man.png") no-repeat;
    background-size: cover;
}
.banners>div:last-child{
    background: url("images/dad.png") no-repeat;
    background-size: cover;
}
.banners h2{
    font-size: 3.33em;
    line-height: 42px;
}
.banners p{
    font-size: 1.17em;
}
/*------------  main-carousel ----------------*/
.carousel-header{
    font-size: 2.7em;
    padding-left: 40px;
    padding-bottom: 10px;
}

.carousel {
    background: #f5f5f5;
    padding-top: 1.33em;
    box-sizing: border-box;
}

.carousel-item-price{
    font-size: 3.34em;
}
.carousel-item{
    max-width: 20%;
    min-height: 285px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-bottom:0;
    border-left: 0;
    justify-content: space-around;
    padding: 20px 40px 0 40px;

}
.carousel-item:last-of-type{
    border-right: none;
}
.prev, .next{
    position: absolute;
    top: 40%;
    background: #ffc600;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}
.prev{
    padding-left: 10px;
    left: -15px;

}
.next{
    right: -15px;
    padding-right: 10px;
}

.prev-arrow, .next-arrow{
    display: block;
    height: 12px;
    width: 12px;
    border-right: 7px solid #fff;
    border-bottom: 7px solid #fff;
}
.prev-arrow{
    transform: rotate(135deg);
}
.next-arrow{

    transform: rotate(-45deg);
}

/*----------- footer --------------*/
footer{
    background: #f5f5f5;
}
footer h2{
    font-size: 2em;
}
footer ul{
    font-size: 1.17em;
    list-style-type: none;
    padding: 0;
}
.subscribe .subscribe-item{
    padding: 13px 10px;
}
.subscribe button{
    background: #000;
    color: #fff;
}
.end-footer{
    background: #fff;
    font-size: 1.17em;
    padding: 12px;
}
.end-footer-link:nth-child(n):after{
    content: "  |  ";
    margin: 0 12px;
}
.end-footer-link:last-child:after {
    display: none;
}
.stars-block:before{
    content: url("images/stars.png");
    margin-right: 10px;
}
.footer-images{
    justify-content: flex-end;
    align-content: baseline;
    align-items: center;

}
.footer-image {
    width: 50%;
    margin: auto;
    text-align: center;
}
.footer-image:first-of-type{
    margin-bottom: 10px;
}

@media (max-width: 1139px){
    .plate{
        width: 100%;
        justify-content: space-around;

    }
}

@media (max-width:768px) {
    .main-content{
        display: block;
    }
    .main-nav{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-nav-wrapper {
        margin-bottom: 30px;
    }
    .main-nav-item{
        margin-right: 15px;
    }
    .main-content-wrapper{
        margin: 0;
    }
    .main-content-wrapper > div {
        display: block;
    }
    aside.plate{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .aside-header{
        width: 100%;
        text-align: center;
    }
    .plate{
        justify-content: space-around;
        width: auto;
    }
    .banners{
        display: block;
    }
    .banners>div:first-child{
        margin:0 0 1em 0;
    }
    .banners>div{
        min-height: 150px;
    }
    .main-container{
        padding-top: 30px;
    }
    .log-in button:before{
        left: 15px;
    }
    .log-in span{
        display: none;
    }
    .search-container{
        display: none;
    }
    .header-nav label{
        width: 100%;
    }
    .header-buttons{
        flex: unset;
    }
    .extra-info li{
        margin-right: unset;
    }
}


@media(max-width: 576px) {
    footer .container{
        display: block;
    }
}